------------------------------------------------------------------------
# Free Coming Soon HTML Templates - Dec 8, 2017
# ------------------------------------------------------------------------
# Designed & coded by Awe7 Team
# Websites:  http://www.awe7.com -  Email: info@awe7.com
--------------------------------------------------------------------------

    1. countDown
    2. comming_soon_01

--------------------------------------------------------------------------*/


/* 1. countDown
--------------------------------------------------------------------------------*/

.countdown__module {
    display: table;
    width: 100%;
    margin: 20px 0;
}

.countdown__module p {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    width: 1%;
    color: #dbc6a6;
}

@media (min-width: 992px) {
    .countdown__module p {
        font-size: 18px;
    }
}

.countdown__module p:last-child {
    border-right: 0;
}

.countdown__module span {
    display: block;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}

@media (min-width: 992px) {
    .countdown__module span {
        font-size: 50px;
    }
}


/* 2. comming_soon_01
--------------------------------------------------------------------------------*/

.comming-soon-01 {
    margin-left: -500px;
}
.comming-soon-01 .countdown__module {
    max-width: 500px;
}

.comming-soon-01__title {
    margin-bottom: 0;
    font-size: 64px;
    color: #ffffff;
}

@media (min-width: 320px) {
    .comming-soon-01__title {
        font-size: calc(2.27273vw + 22.72727px);
    }
}

@media (min-width: 1200px) {
    .comming-soon-01__title {
        font-size: 50px;
    }
}

.comming-soon-01__desc {
    font-size: 2em;
    color: #b0b0b0;
    margin-bottom: 40px;
    font-weight: 300;
    border-top: 1px dashed rgba(255,255,255,0.2);
    margin: 10px 0 0 5px;
    padding-top: 10px;
}

/*.display-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}