@import url(https://fonts.font.im/css?family=Khula:700);
/*body {
  background: #111;
}*/
.hidden {
  opacity: 0;
}
.console-container {
  font-family: 'Courier New', monospace;
  font-size: 7em;
  text-align: center;
  height: 200px;
  width: max-content;
  display: block;
  position: absolute;
  color: white;
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}