/* 2. particles.js
--------------------------------------------------------------------------------*/
/*
#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
*/
[id*=particles-js] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
}